.html{
    margin: 0;
    padding: 0;
}

.body{
    background-color: #000000;
}
.text{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #ffffff;
    margin-left: 720px;
    margin-top: 300px;

}


.piano{
    display: flex;
}

.octave{
    position: relative;
    display: flex;
    top: 30vh;
    left: 5vw;


    .key{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border: #000000 1px solid;
        background-color: #ffffff;
        width: 42px;
        height: 171px;
        transition: All 0.5s;
        

        &--big{
            width: 51px;
        }

        &_black{
            width: 20px;
            height: 119px;
            background-color: #000000;
            &--middle{
                margin-left: 6px;
            }
            transition: All 0.5s;
        }
    }



    .black_keys{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 75px;
        left: 33px;
        &--right{
            width: 119px;
            left: 183px;
        }
    }

    .playing{
        transition: All 0.5s;
        transition-timing-function: cubic-bezier(0, 1.21, 0, 1.55);
        

    }
}

.note_name{
    display: block;
    text-align: center;
    
    font-size: 18px;

    color: azure;
    text-orientation:mixed;
    &--white{
        display: block;
        text-align: center;
        
        font-size: 18px;
    
        text-orientation:mixed;

    }
}
